/*
* @Author: midoDaddy
* @Date:   2017-09-22 17:00:15
* @Last Modified by:   midoDaddy
* @Last Modified time: 2017-09-22 17:14:38
*/
.nav {
    background: #eee;
    height: 30px;
    line-height: 30px;
}
.nav .user-info {
    float: left;
}
.nav .user-info .link {
    margin-right: 5px;
}
.nav .user-login {
    display: none;
}
.nav .nav-list {
    float: right;
}
.nav .nav-item {
    display: inline-block;
    margin-left: 5px;
}