/*
* @Author: midoDaddy
* @Date:   2017-09-23 21:14:28
* @Last Modified by:   midoDaddy
* @Last Modified time: 2017-09-23 21:17:26
*/
.footer {
    padding: 10px;
}
.footer .links, .footer .copyright {
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link {
    padding: 0 10px;
}